.header {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #fefefe;
    background: #1c2c44;
    
    &.header-fixed {
        position: fixed;
        left: 0px;
        top: 0px;
    }
    
    & > .header-brand {
        height: 100%;
        display: inline-block;
        
        & > img.logo {
            max-height: 100%;
            padding: 0.7rem;
        }
    }
    
    & > .header-user {
        height: 100%;
        display: inline-block;
        margin-left: auto;
        padding: 0.7rem;
    }
}