.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fefefe;
    background: #1c2c44;
    
    &.header-fixed {
        position: fixed;
        left: 0px;
        top: 0px;
    }
    
    & > .header-brand {
        height: 100%;
        display: inline-block;
        font-size: 26px;
        
        & > img.logo {
            max-height: 100%;
            padding: 15px 0;
        }
    }
}