ul.nav-bar { 
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0.5rem;
    
    & > li.nav-item {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        
        & > a {
            display: block;
            color: #9db1cf;
            text-decoration: none;
            padding: 0.5rem;
            cursor: pointer;
            transition: all 0.25s;
            
            &:hover {
                color: #fff;
            }
        }
    }
}